body {
  background: url(/assets/images/strange-background3.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main {
  background: lightgoldenrodyellow;
  margin: auto;
  text-align: center;
  padding: 20px;
  width: 80%;
  border-radius: 10%;
  height: 80vh;
}

#empty-question {
  /* background-color: rgb(73, 127, 189); */
  background: #fff;
  margin: auto;
  width: 90%;
  height: 70%;
  text-align: center;
}

.btn-info {
  color: white;
  padding: 20px 80px;
  margin-top: 30px;
  border-radius: 25%;
}

.btn-warning {
  color: white;
  padding: 20px 80px;
  margin-top: 10px;
  min-width: 70%;
  font-weight: 500;
}

.btn-warning:hover {
  background: yellow;
}

/* 
 button {
  background: none;
  font-size: 25px;
  border: none;
} */


/* button:hover {
  margin: 0.1em;
  background: rgb(73, 127, 189);
  color: white; */

h2 {
  font-size: 40px;
}

h4:hover {
  font-size: .8em;
}

.userQuestion {
  background: rgb(73, 127, 189);
  color: white;
  max-width: 70%;
  margin: auto;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
}



.timer {
  padding: 10px;
  font-size: 20px;
  color: red;
  background: #fff;
  width: 50%;
  margin: auto;
  font-weight: 400;
}

.timer {

  /* color: red; */


}

#timer {
  margin-top: 40px;
  /* color: red; */
  font-weight: 800;
  font-size: 40px;
}

#start {
  position: flex;
  padding: 20px 200px;
  align-items: middle;
  /* visibility: hidden; */
}