/* *General Setup* */

body {
  background: rgb(218, 218, 218);
  background-image: url("../images/strange-background3.jpg");
  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main {
  background: lightblue;
  margin: auto;
  text-align: center;
  padding: 50px 0;
  width: 70%;
  border-radius: 10%;
  height: 100%;
}

h1 {
  font-size: 50px;
  font-family: "IBM Plex Mono", monospace;
  font-style: italic;
  padding-bottom: 20px;
}

h1::first-letter {
  color: red;

}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
  padding: 10px;
}

/* *Starting HTML page* */

#empty-question {
  /* background-color: rgb(73, 127, 189); */
  background: #fff;
  margin: auto;
  width: 90%;
  height: 100%;
  text-align: center;
  padding: 50px 0;
}


/* *Intro Page* */

#welcome-img {
  width: 50%;
}

.btn-info {
  padding: 20px 80px;
  display: block;
  margin: auto;
  margin-top: 40px;
  border-radius: 25%;
  font-size: 25px;
  font-weight: 600;
}

/* *Question Page* */

.timer {
  padding: 10px;
  font-size: 25px;
  color: red;
  background: #fff;
  width: 50%;
  margin: auto;
  font-weight: 500;
}

#timer {
  color: blue;
  font-weight: 600;
  font-size: 30px;
  padding: 0 0.3em;
  /* border: solid red; */
  border-radius: 85%;
  background: rgb(53, 197, 60);
}

.userQuestion {
  background: rgb(73, 127, 189);
  color: white;
  max-width: 70%;
  margin: auto;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
}

.btn-warning {
  color: white;
  padding: 20px 80px;
  margin-top: 5px;
  min-width: 70%;
  font-weight: 500;
  background-color: rgb(53, 197, 60);
  box-shadow: 1em;
}

/* *Answer Page* */
.answers {
  padding: 40px;
  margin-bottom: 50px;
  font-size: 40px;
  color: red;
}

.answer-img {
  padding-top: 25px;
  margin: auto;
}

/* *Final Page* */

.wins,
.losses,
.unanswered {
  margin-top: 5px;
  font-size: 25px;
  font-weight: 500;
}

.wins {
  color: green;
}

.losses {
  color: red;
}

.unanswered {
  color: blue;
}

.btn-end {
  color: white;
  padding: 20px 80px;
  display: block;
  margin: auto;
  margin-top: 40px;
  border-radius: 25%;
  font-size: 25px;
  font-weight: 600;
  background-color: rgb(53, 197, 60);
}